$gistLineBack: #333;
.GistDetails {
  &__accorditem {
    background-color: #eeeffe;
    padding: .7rem !important;
    &__date {
      color: #ccc;
      font-size: .8rem;
      margin-right: 1rem;
      width: 70px;
      display: inline-block;
    }
    &__desc {
      position: relative;
      top: .35rem;
      max-width: 45%;
      display: inline-block;
      color: #333;
      margin-left: 1rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: bold;
    }

    &:hover {
      cursor: pointer;
      // background-color: #333 !important;
      background-color: #ecedff !important;
      box-shadow: inset -10px -50px 30px #e1e2fd;
      .GistDetails__accorditem__desc, .GistDetails__accorditem__date {
        color: #000;
      }

      .GistDetails__accorditem__remove, .GistDetails__accorditem__edit {
        display: inline-block;
      }
    }
    &__content {
      background-color: $gistLineBack;
      &__tabs {
        background-color: $gistLineBack !important;
        &__pane {
          background-color: $gistLineBack !important;
          border: solid 1px #222 !important;
        }
      }
    }
  }
}
