.ContainerGistDetails {
  &__modal {
    &__closebtn {
      position: absolute;
      right: 0;
      top: 2rem;
      font-size: 1.3rem !important;
      box-shadow: -2px 3px 5px #444 !important;
      &:hover {
        cursor: pointer;
      }
    }
    &__gistdesc {
      position: relative;
      top: -.5rem;
      text-align: right;
      display: block;
      padding: .4rem 2.5rem .4rem 0;
      color: white;
      font-weight: bold;
      font-size: 1.3rem;
      text-shadow: 0 0 1px #000;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
      a {
        color: white;
        &:hover {
          color: #eee;
        }
      }
    }
  }
}
