.DefaultDialog {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -30%);
  width: 50rem !important;
  > div {
    padding: 2rem;
    text-align: center;
    .DefaultDialog {
      &__description {
        width: 70%;
        margin-bottom: 1rem;
      }
      &__title {
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
      }
      &__label {
        font-size: .9rem;
        font-weight: bold;
        text-transform: uppercase;
        margin-right: .5rem;
      }
      &__public {
        position: relative;
        top: .4rem;
        margin-left: .5rem;
        margin-right: 2rem;
      }
      &__tags {
        position: relative;
        top: -.2rem;
        margin-left: -1rem !important;
      }
      &__divider {
        margin-bottom: 2rem;
      }
    }
  }
}
