.ContainerSidebar {
  margin-top: 0 !important;
  border: none !important;
  &__menu {
    &__link {
      display: block;
    }
  }
  &__content {
    border: none !important;
    &__segment {
      border: none !important;
    }
  }
}
