.GistItemFile {
  &__editorwrapper {
    border-radius: 10px;
    border: solid 1px #000;
    box-shadow: 5px -5px 15px #222;
    display: block;
    overflow: hidden;
    width: 100%;

  }
  &__savefile-container {
    margin: .5rem 0 2rem 0;
    &:last-child {
      margin-bottom: 0;
    }
    &__notsaved {
      position: relative;
      margin-right: 2rem;
      top: .4rem;
      float: right;
      color: #888;
      font-size: .9rem;
    }
    &__dropdown {
      position: relative;
      display: block;
      cursor: pointer !important;
      margin-left: 2rem;
      border-bottom: solid 1px #555;
      padding: .2rem;
      top: .1rem;
      color: white;
      * {
        cursor: pointer !important;
      }
    }
    &__filename {
      background-color: transparent;
      color: #999;
      border: none;
      border-bottom: solid 1px #555;
      font-weight: normal;
      padding: .3rem;
      margin: 0 0 0 2rem;
      &:focus {
        outline: none;
        color: white;
      }
    }
    &__deletebtn, &__executebtn, &__file-url {
      position: relative;
      margin-top: .2rem !important;
      float: right;
      color: #555;
      &:before {
        font-size: 1.3rem;
      }
      transition: transform 0.3s ease, color 0.3s ease;
      &:hover {
        cursor: pointer;
        transform: scale(1.4);
      }
    }
    &__deletebtn {
      &:hover {
        color: #FF4B4B;
      }
    }
    &__deletebtn, &__file-url {
      margin-left: 1rem !important;
    }
    &__file-url {
      &:hover {
        &:before {
          cursor: pointer;
          color: white;
        }
      }
    }
    &__executebtn {
      &:hover {
        &:before {
          cursor: pointer;
          color: lime;
        }
      }
    }
    &__public-label {
      position: relative;
      display: inline-block;
      margin-left: 2.5rem;
      top: .1rem;
      color: #fff;
    }
    &__public {
      display: inline-block;
      position: relative;
      top: .4rem;
      margin-left: .8rem;
      top: .5rem;
      color: #fff;
      label:before {
        background-color: #111 !important;
      }
    }
  }
}
.ui.inverted.attached.menu {
  overflow: auto;
  &::-webkit-scrollbar {
    height: .4em;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
}


